name: build

on: 
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup node & npm
        uses: relative-ci/.github/actions/setup-node-npm@main

      # Build and output webpack stats to dist/webpack-stats.json
      - run: npm run build

      # Send webpack stats and build information to RelativeCI
      - name: Send webpack stats to RelativeCI
        uses: relative-ci/agent-action@v3
        with:
          webpackStatsFile: ./dist/webpack-stats.json
          key: ${{ secrets.RELATIVE_CI_KEY }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive production artifacts
        uses: actions/upload-artifact@v5
        with:
          name: test-artifacts
          path: |
            dist/webpack-stats.json
